# forge-git CLI credentials
# Get token from: ssh root@178.104.233.155 "docker exec forge-git_forge-git_1 su-exec git /usr/local/bin/gitea admin user generate-access-token --config /data/gitea/conf/app.ini --username forge-admin --token-name <name> --scopes all"
FORGE_GIT_TOKEN=
FORGE_GIT_URL=https://forge-git.blueforge.studio